{% extends "base.html" %}
{% block st %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"> -->
{% endblock %}
{% block content %}
<div
    style="margin-top:26vh;margin-left:12.5vw;width:75%;height:auto;border-style: solid;border-width: 0ch;border-radius:13px;background-color: rgba(242, 242, 242,0.7);text-align: center;box-shadow: 0 5px 16px rgba(0,0,0,0.2);">
    <div class="container">
        <div class="row">
            <div class="col" style="padding-top:2vh;">

                <h1>M4A TO WAV CONVERTER</h1>
                <hr>

                <form action="/upload-audio" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <br>
                        <div class="custom-file posi">
                            <label for="myfile"> <strong>Add Files:</strong> </label>
                            <input type="file" class="custom-file-input" name="audio" id="audio">
                            <select id="format" name="format">
                                <option value="wav">WAV</option>
                              
                                <!-- <option value="midi">MIDI</option> -->
                  
                  
                  
                  
                              </select>
                            
                        </div>
                        <div class="posi">
                            <button type="submit" class="btn btn-primary" style="box-shadow: 1 5px 7px rgba(0,0,0,0.2);color:black;background-color:#2e7a06;;border-width: 0%;">ConvertNow</button>

                            
                            
                        </div>
                    </div>
                    <br>

                    <!-- <button type="submit" class="btn btn-primary"
                        style="margin-top: auto;margin-bottom:10px;box-shadow: 1 5px 7px rgba(0,0,0,0.2);color:black;background-color:  rgb(255,193,7);border-width: 0%;">Convert
                        Now</button> -->

                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}